.btn-brown{
    color:rgba(67, 46, 22, 0.804);
    background-color: blanchedalmond;
    border-color:rgb(0, 0, 0);
    --bs-btn-active-color: var(rgb(203, 34, 54));
    --bs-btn-hover-bg: #(shade-color (rgba(170, 106, 34, 0.804)));
    --bs-btn-hover-border-color: #(shade-color (rgb(0, 0, 0)));
    --bs-btn-active-bg: #(shade-color (rgba(170, 106, 34, 0.804)));
    --bs-btn-active-border-color: rgb(0, 0, 0);
}

.btn-brown-outline{
    color:rgba(67, 46, 22, 0.804);
    border-color:rgb(0, 0, 0);
    --bs-btn-hover-bg: #(shade-color (rgba(170, 106, 34, 0.804)));
    --bs-btn-hover-border-color: #(shade-color (rgb(0, 0, 0)));
    --bs-btn-active-bg: #(shade-color (rgba(170, 106, 34, 0.804)));
    --bs-btn-active-border-color: rgb(0, 0, 0);
}


